<!-- Favicon -->
<link rel="shortcut icon" th:href="@{/resources/favicon.ico}">
<link rel="icon" th:href="@{/resources/favicon.ico}" type="image/x-icon">

<!-- Morris Charts CSS -->
<link
	th:href="@{/resources/vendors/bower_components/morris.js/morris.css}"
	rel="stylesheet" type="text/css" />

<!-- Data table CSS -->
<link
	th:href="@{/resources/vendors/bower_components/datatables/media/css/jquery.dataTables.min.css}"
	rel="stylesheet" type="text/css" />

<link
	th:href="@{/resources/vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.css}"
	rel="stylesheet" type="text/css">

<!-- Custom CSS -->
<link th:href="@{/resources/dist/css/style.css}" rel="stylesheet"
	type="text/css">

<!-- Link from W3School to make form input -->
<link rel="stylesheet"
	th:href="@{/resources/dist/css/bootstrap.min.css}">
<link href="https://fonts.googleapis.com/css?family=Khmer"
	rel="stylesheet">

<link th:href="@{/resources/dist/css/custom.css}" rel="stylesheet"
	type="text/css">