<!-- Top Menu Items -->
<nav class="navbar navbar-inverse navbar-fixed-top">
	<a id="toggle_nav_btn"
		class="toggle-left-nav-btn inline-block mr-20 pull-left"
		href="#"><i class="fa fa-bars"></i></a>
	<a th:href="@{/admin/dashboard}"><img
		class="brand-img pull-left" th:src="@{/resources/dist/img/logo.png}"
		alt="brand" /></a>
	<ul class="nav navbar-right top-nav pull-right">
		<li class="dropdown"><a th:href="@{${LINK}(lang=kh)}"><img
				alt="user_auth" class="user-auth-img img-circle"
				th:src="@{/resources/flag/khflag.png}"></a></li>

		<li class="dropdown"><a th:href="@{${LINK}(lang=en)}"><img
				alt="user_auth" class="user-auth-img img-circle"
				th:src="@{/resources/flag/enflag.png}"></a></li>
	</ul>
</nav>
<!-- /Top Menu Items -->
