
<!-- JavaScript -->

<!-- jQuery -->
<script th:src="@{/resources/vendors/bower_components/jquery/dist/jquery.min.js}"></script>

<!-- Bootstrap Core JavaScript -->
<script
	src="static/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>

<!-- Data table JavaScript -->
<script
	th:src="@{/resources/vendors/bower_components/datatables/media/js/jquery.dataTables.min.js}"></script>

<!-- Slimscroll JavaScript -->
<script th:src="@{/resources/dist/js/jquery.slimscroll.js}"></script>

<!-- simpleWeather JavaScript -->
<script th:src="@{/resources/vendors/bower_components/moment/min/moment.min.js}"></script>
<script
	th:src="@{/resources/vendors/bower_components/simpleWeather/jquery.simpleWeather.min.js}"></script>
<script th:src="@{/resources/dist/js/simpleweather-data.js}"></script>

<!-- Progressbar Animation JavaScript -->
<script
	th:src="@{/resources/vendors/bower_components/waypoints/lib/jquery.waypoints.min.js}"></script>
<script
	th:src="@{/resources/vendors/bower_components/Counter-Up/jquery.counterup.min.js}"></script>

<!-- Fancy Dropdown JS -->
<script th:src="@{/resources/dist/js/dropdown-bootstrap-extended.js}"></script>

<!-- Sparkline JavaScript -->
<script th:src="@{/resources/vendors/jquery.sparkline/dist/jquery.sparkline.min.js}"></script>

<!-- ChartJS JavaScript -->
<script th:src="@{/resources/vendors/chart.js/Chart.min.js}"></script>

<!-- Morris Charts JavaScript -->
<script th:src="@{/resources/vendors/bower_components/raphael/raphael.min.js}"></script>
<script th:src="@{/resources/vendors/bower_components/morris.js/morris.min.js}"></script>
<script th:src="@{/resources/dist/js/morris-data.js}"></script>

<script
	th:src="@{/resources/vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.js}"></script>

<!-- Init JavaScript -->
<script th:src="@{/resources/dist/js/init.js}"></script>
<script th:src="@{/resources/dist/js/dashboard-data.js}"></script>

<!-- Script from W3School.com -->
<!-- <script th:src="@{/resources/dist/js/jquery.min.js}"></script> -->
<script th:src="@{/resources/dist/js/bootstrap.min.js}"></script>
	
	